<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Número de pacientes vacunados</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    <div class="login-space">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Ingresa fecha inicial</label> <input id="fechaIncial" type="text" class="input" placeholder="Ingresa fecha inicial"> </div>
                            <div class="group"> <label for="user" class="label">Ingresa fecha final</label> <input id="fechaFinal" type="text" class="input" placeholder="Ingresa fecha final"> </div>
                            <div class="group"> <label for="pass" class="label">Número de pacientes vacunados</label> <input id="pacientes" type="text" class="input" disabled = "true" placeholder=""> </div>
                            <div class="group"> <input type="submit" class="button" (click)="servicio()" value="Consultar"> </div>
                            <div class="hr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>